<div *ngIf="!loader" class="min-h-screen flex flex-col bg-gray-100 relative overflow-hidden">
    <!-- Animated Gradient Background -->
    <div class="absolute inset-0">
        <div
            class="absolute inset-0 bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 opacity-30 animate-gradient-x">
        </div>
        <img src="assets/images/bgnew.jpg" alt="Background" class="w-full h-full object-cover brightness-90">
        <div class="absolute inset-0 bg-black/25"></div>
    </div>

    <!-- Header -->
    <!-- <header class="bg-gray-800/70 shadow-md relative z-10">
        <div class="max-w-6xl mx-auto px-4 py-3 flex items-center">
            <img src="assets/images/logo.png" alt="Logo" class="h-11 w-auto " />
                </div>
    </header> -->

    <app-navbar [show]="true"></app-navbar>

    <!-- Centered Form -->
    <div class="flex flex-1 items-center justify-center px-4 py-6 relative z-10">
        <div class="max-w-2xl w-full bg-transparent  rounded-lg shadow-lg p-6 relative z-10">
            <div class="flex justify-between items-center">
                <h2 class="text-3xl font-semibold mb-4 text-gray-900">Add Lead</h2>
                <input #excelInput type="file" class="hidden" (change)="onFileChange($event)"
                    accept=".xlsx, .xls, .csv">
                <button *ngIf="role.role == 'admin'" (click)="excelInput.click()"
                    class="px-2 bg-gray-800 text-white py-2 rounded-md hover:bg-gray-900 transition">
                    Import Excel
                </button>
            </div>

            <form [formGroup]="leadForm" (ngSubmit)="submit()" class="space-y-4">
                <!-- Name -->
                <div>
                    <label class="block text-white text-sm mb-1">Name</label>
                    <input formControlName="name"
                        class="w-full p-2 border border-gray-400 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-500" />
                </div>

                <!-- Phone & Email -->
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label class="block text-white text-sm mb-1">Phone</label>
                        <input formControlName="phone"
                            class="w-full p-2 border border-gray-400 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-500" />
                    </div>
                    <div>
                        <label class="block text-white text-sm mb-1">Email</label>
                        <input type="email" formControlName="email"
                            class="w-full p-2 border border-gray-400 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-500" />
                    </div>
                </div>

                <!-- Source & Assigned -->
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label class="block text-white text-sm mb-1">Source</label>
                        <select formControlName="source"
                            class="w-full p-2 border border-gray-400 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-500">
                            <option value="website">Website</option>
                            <option value="referral">Referral</option>
                            <option value="walkin">Walk-in</option>
                        </select>
                    </div>
                    <div *ngIf="role?.role === 'admin'">
                        <label class="block text-white text-sm mb-1">Assigned to</label>
                        <select formControlName="assignedTo"
                            class="w-full p-2 border border-gray-400 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-500">
                            <ng-container *ngFor="let item of list">
                                <option [value]="item._id">{{ item.name }}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>

                <!-- Budget & Currency -->
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label class="block text-white text-sm mb-1">Budget</label>
                        <input type="text" formControlName="budget"
                            class="w-full p-2 border border-gray-400 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-500" />
                    </div>
                    <div>
                        <label class="block text-white text-sm mb-1">Lakh/Cr..</label>
                        <select formControlName="currency"
                            class="w-full p-2 border border-gray-400 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-500">
                            <ng-container *ngFor="let item of currency">
                                <option [value]="item.value">{{ item.name }}</option>
                            </ng-container>
                        </select>
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-4">
                    <div>
                        <label class="block text-white text-sm mb-1">Follow Up</label>
                        <input type="date" formControlName="followUp"
                            class="w-full p-2 border border-gray-400 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-500" />
                    </div>
                    <div>
                        <label class="block text-white text-sm mb-1">Time</label>
                        <input formControlName="time" type="time"
                            class="w-full p-2 border border-gray-400 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-500" />
                    </div>
                </div>


                <!-- Remarks -->
                <div>
                    <label class="block text-white text-sm mb-1">Remarks</label>
                    <textarea formControlName="notes"
                        class="w-full p-2 border border-gray-400 rounded-md focus:outline-none focus:ring-2 focus:ring-gray-500 h-24"></textarea>
                </div>

                <!-- Submit Button -->
                <div class="flex justify-end">
                    <button type="submit"
                        class="px-4 py-2 rounded-md bg-gray-800 text-white hover:bg-gray-900 transition">Save
                        Lead</button>
                </div>
            </form>
        </div>
    </div>
</div>
<app-loader *ngIf="loader" [loader]="loader"></app-loader>